.admonition {
	margin: 1.5625em 0;
	overflow: hidden;
	color: black;
	page-break-inside: avoid;
	background-color: white;
	border-left: 0.3rem solid;
	border-radius: 0.5rem;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.admonition p {
	padding: 0 1rem;
}

.admonition .admonition-title {
	color: black;
	font-weight: 700;
	line-height: 3rem;
  font-size: 1.2rem;
}

.admonition-title::before {
	margin-right: 0.5rem;
	width: 1.2rem;
	height: 1.2rem;
	display: inline-block;
	-webkit-mask-size: cover;
	mask-size: cover;
}

.admonition.warning {
	border-left-color: var(--pep-yellow);
}

.admonition.warning .admonition-title {
	background-color: var(--pep-yellow-light);
}

.admonition.warning .admonition-title::before {
  color: var(--pep-yellow);
  font-family: "FontAwesome";
  content: "\f071";
}

.admonition.info {
	border-left-color: var(--pep-blue);
}

.admonition.info .admonition-title {
	background-color: var(--pep-blue-light);
}

.admonition.info .admonition-title::before {
  color: var(--pep-blue);
  font-family: "FontAwesome";
  content: "\f05a";
}

.admonition.code {
  background: hsl(220, 80%, 90%); 
}

.admonition .highlight {
  white-space: pre-wrap;
  margin-right: 1rem;
  margin-left: 1rem;
  box-shadow: 0 0 0 rgba(0,0,0,0);
}
