/* .container {
  width: auto;
  max-width: 80rem;
  padding: 0 15px;
} */

html {
  font-size: 1rem;
  }

@include media-breakpoint-up(sm) {
  html {
  font-size: 1.2rem;
  }
  }

@include media-breakpoint-up(md) {
html {
font-size: 1.4rem;
}
}

body {
  background-color: var(--body-bg);
  padding-top: 110px;
  font-family: Roboto !important;
  font-weight: 400;
  }
  
.text-uppercase {
  text-transform: none !important;
  }

.lead {
font-weight: 320;
}

h1 {
  font-weight: 600;
  }
 
.h2-fontsize {
font-size: 2.7rem !important;
}

.p-fontsize {
font-size: 20px !important;
}

:root {
  --pep-gray: #565656;
  --pep-blue: #5b8fcb;
  --pep-green: #2CCCA0;
  --pep-yellow: #FFB137;
  --light-gray: #7C7C7C;
  --maincolor: var(--pep-yellow);
  --body-bg: #f1f0f0;
  --body-bg: white;
  }

.yellow {
  color: var(--pep-yellow);
  }
  
.gray {
color: var(--pep-gray);
}
  
.text-primary {
  color: var(--pep-yellow) !important;
  }
  
.text-secondary {
color: var(--pep-gray) !important;
}

.bg-primary {
background-color: var(--pep-yellow) !important;
}
  
.bg-secondary {
background-color: var(--pep-gray) !important;
}

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
background-color: var(--pep-gray) !important;
}

.navbar-brand:not(.nohover) {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  font-size: 25px;
  line-height: inherit;
  white-space: nowrap;
  text-decoration: none;
  color: white;
  font-family: Roboto !important;
  font-weight: 600;
  }

.nav-link {
display: block;
padding: 0.5rem 1rem;
text-align: right;
font-size: 20px;
color: white !important;
}
    
.nav-link:hover {
opacity: 1;
color: var(--pep-yellow) !important;
}
    
.github {
  padding-left: 32px;
  background-image: url('../img/octocat-small.png');
  background-repeat: no-repeat;
  color:            #fff;
  background-color: #474949;
  border-color:     #474949;
  background-position: 8px center;
}

.github:hover {
  color:            #fff;
  background-color: #333;
  border-color:     #333;
}

.post + .post {
  margin-top: 20px;
}

pre.highlight {
  background-color: #eee;
  border-radius: 10px;
  border-width: thin;
  border-style: solid;
  border-color: #ddd;
  padding: 5px;
}

.screenshot {
 	max-width: 100%;
	max-height: 400px;
}

.info-hover:hover {
  transition: all ease 0.25s;
  font-size: 34px;
  }