html {
  font-size: 1rem;
  }

@include media-breakpoint-up(sm) {
  html {
  font-size: 1.2rem;
  }
  }

@include media-breakpoint-up(md) {
html {
font-size: 1.4rem;
}
}
code {font-size:87.5%;
  /* color:#e83e8c; */
  color: #212529;
  word-break:break-word}

code:not(pre *) {
  padding: 4px 2px;
  background-color: #e3e6e8;
  border-radius: 5px;
}

body {
  background-color: var(--body-bg);
  padding-top: 110px;
  font-family: Roboto !important;
  font-weight: 400;
  }
  
.text-uppercase {
  text-transform: none !important;
  }

.lead {
font-weight: 320;
}

h1 {
  font-weight: 600;
  }
 
.h2-fontsize {
font-size: 2.7rem !important;
}

.p-fontsize {
font-size: 20px !important;
}

:root {
  --pep-gray: #565656;
  --pep-blue: #5b8fcb;
  --pep-green: #2CCCA0;
  --pep-yellow: #FFB137;
  --light-gray: #7C7C7C;
  --maincolor: var(--pep-yellow);
  --body-bg: #f1f0f0;
  --body-bg: white;
  }

.yellow {
  color: var(--pep-yellow);
  }
  
.gray {
color: var(--pep-gray);
}
  
.text-primary {
  color: var(--pep-yellow) !important;
  }
  
.text-secondary {
color: var(--pep-gray) !important;
}

.bg-primary {
background-color: var(--pep-yellow) !important;
}
  
.bg-secondary {
background-color: var(--pep-gray) !important;
}

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
background-color: var(--pep-gray) !important;
}

.navbar-brand:not(.nohover) {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  font-size: 25px;
  line-height: inherit;
  white-space: nowrap;
  text-decoration: none;
  color: white;
  font-family: Roboto !important;
  font-weight: 600;
  }

.nav-link {
display: block;
padding: 0.5rem 1rem;
text-align: right;
font-size: 20px;
color: white !important;
}
    
.nav-link:hover {
opacity: 1;
color: var(--pep-yellow) !important;
}
    
.github {
  padding-left: 32px;
  background-image: url('../img/octocat-small.png');
  background-repeat: no-repeat;
  color:            #fff;
  background-color: #474949;
  border-color:     #474949;
  background-position: 8px center;
}

.github:hover {
  color:            #fff;
  background-color: #333;
  border-color:     #333;
}

.post + .post {
  margin-top: 20px;
}

pre.highlight {
  background-color: #eee;
  border-radius: 10px;
  border-width: thin;
  border-style: solid;
  border-color: #ddd;
  padding: 5px;
}

.screenshot {
 	max-width: 100%;
	max-height: 400px;
}

.info-hover:hover {
  transition: all ease 0.25s;
  font-size: 34px;
}

#help-button {
  position: fixed;
  right: 25px;
  bottom: 25px;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.7);
  transition: all ease 0.5s;
}

#help-button.visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1) translate(-65px,0px);
}

#help-button a {
  border: none;
  border-radius: 50%;
  display: block;
  width:  50px;
  height: 50px;
  color: #fff;
  background-color: var(--pep-gray);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: all ease 0.25s;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
}

#help-button a:after {
  outline: none;
  content: "?";
  position: relative;
  display: block;
  top: 55%;
  transform: translate(0,-55%);
}

#help-button.visible a:hover {
  color: #fff;
  width: 100px;
  border-radius: 50px;
  overflow: hidden;
  background-color: var(--pep-yellow);
}

#help-button.visible a:hover:after {
  content: "Hilfe";
  font-weight: normal;
}

#backtotop-button {
  position: fixed;
  right: 25px;
  bottom: 25px;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.7);
  transition: all ease 0.5s;
}

#backtotop-button.visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

#backtotop-button a {
  border: none;
  border-radius: 50%;
  display: block;
  width:  50px;
  height: 50px;
  color: #fff;
  background-color: var(--pep-gray);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: all ease 0.25s;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
}

#backtotop-button a:after {
  font-family: "Font Awesome 5 Free";
  outline: none;
  font-weight: 600; content: "\f077";
  position: relative;
  display: block;
  top: 50%;
  transform: translate(0,-55%);
}

#backtotop-button.visible a:hover {
  color:            #fff;
  background-color: var(--pep-yellow);
}

.table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  /* word-break: break-all; */
}
