Anno Knierim <anno.knierim@tu-dortmund.de> Anno Knierim <32365583+aknierim@users.noreply.github.com>

Christian Beckmann <christian.beckmann@tu-dortmund.de> Christian Beckmann <christian.beckmann@udo.edu>
Christian Beckmann <christian.beckmann@tu-dortmund.de> cbeckmann <christian.beckmann@tu-dortmund.de>
Christian Beckmann <christian.beckmann@tu-dortmund.de> chrbeckm <32388722+chrbeckm@users.noreply.github.com>
Christian Beckmann <christian.beckmann@tu-dortmund.de> chrbeckm <christian.beckmann@tu-dortmund.de>
Christian Beckmann <christian.beckmann@tu-dortmund.de> chrbeckm <christian.beckmann@udo.edu>

Fabian Schierok <fabian.schierok@tu-dortmund.de> Fabian Schierok <fabian.schierok@udo.edu>

Igor Babuschkin <igor@babuschk.in> Igor Babuschkin <ibabuschkin@gmail.com>

Jan Wagner <jan.herdieckerhoff@tu-dortmund.de> Jan Herdieckerhoff <jan.herdieckerhoff@tu-dortmund.de>
Jan Wagner <jan.herdieckerhoff@tu-dortmund.de> Jan Herdieckerhoff <jherdieckerhoff@tu-dortmund.de>

Joshua Luckey <joshua.luckey@tu-dortmund.de> LuckyJosh <joshua.luckey@tu-dortmund.de>

kevin.heinicke <kevin.heinicke@tu-dortmund.de> Kevin Heinicke <kevin@kehei.de>
kevin.heinicke <kevin.heinicke@tu-dortmund.de> Kevin Heinicke <devel@kevins-mbp.fritz.box>
kevin.heinicke <kevin.heinicke@tu-dortmund.de> Kevin H <kevin@kehei.de>

Ludwig Neste <ludwig.neste@tu-dortmund.de> Ludwig Neste <31670556+The-Ludwig@users.noreply.github.com>

Maximilian Linhoff <maximilian.linhoff@tu-dortmund.de> Max Noethe, Desktop <max.noethe@t-online.de>
Maximilian Linhoff <maximilian.linhoff@tu-dortmund.de> Maximilian Linhoff <maximilian.noethe@udo.edu>
Maximilian Linhoff <maximilian.linhoff@tu-dortmund.de> Maximilian Noethe <maximilian.noethe@tu-dortmund.de>
Maximilian Linhoff <maximilian.linhoff@tu-dortmund.de> Maximilian Noethe <maximilian.noethe@udo.edu>
Maximilian Linhoff <maximilian.linhoff@tu-dortmund.de> Maximilian Nöthe <maximilian.noethe@tu-dortmund.de>


Sebastian Lütge <sebastian.luetge@tu-dortmund.de> Sebastian Luetge <sebastian.luetge@tu-dortmund.de>
Sebastian Lütge <sebastian.luetge@tu-dortmund.de>  Sebastian Lütge <32368691+SepplL@users.noreply.github.com>

Stefan Grisard <stefan.grisard@tu-dortmund.de> stefangri <stefan.grisard@tu-dortmund.de>
Stefan Grisard <stefan.grisard@tu-dortmund.de> stefangri <stefan@grisard.net>

VukanJ <vukan.jevtic@tu-dortmund.de> VukanJ <vukan.jevtic@udo.edu>
