.install-os-cards .myst-card-header .iconify-icon {
  font-size: 3rem !important;
  width: 3rem !important;
  height: 3rem !important;
  line-height: 1 !important;
  display: inline-block !important;
}

.install-os-cards .myst-card-header {
  text-align: center;
}

.install-os-cards .myst-card-header p {
  margin: 0;
}

.center-card-body .myst-card-body {
  text-align: center;
}

.center-card-body .myst-card-body p {
  text-align: center;
}
